{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="CartApp"  ng-controller="CartCtrl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} Магазинище</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="{% static 'js/cart.controller.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
<header>
    <div class="wrapper">
        <div class="logo">
            <a href="{% url 'shop:index_shop' %}">
                <img src="{% static 'img/logo.png' %}" alt="">
            </a>
        </div>
        {% verbatim %}
        <div class="cart">
            <a href="/cart/">{{ sum }} <span>руб.</span></a>
        </div>
        {% endverbatim %}
    </div>
</header>

<div class="container">
    {% block content %}

    {% endblock content %}

</div>
<div class="push"></div>
<footer>Прав нет, одни обязанности © 2017</footer>
</body>
</html>