{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block title %}Каталог товаров &#8212;{% endblock %}

{% block content %}

    {% include 'shop/menu/menu_category.html' %}

    <form action="" method="get">
    от <input type="text" name="min_price" maxlength="6" size="10">
    до <input type="text" name="max_price" maxlength="6" size="10">
    <button type="submit">Применить</button>
    <button href="/">Сбросить</button>
    </form>

    <h1>Категория: {{ category.name }}</h1>

    <div class="item">
        {% for p in object_list %}
            <a href="{% url 'shop:detail_product' p.slug %}">
                <img src="{% thumbnail p.image 180x200 crop %}" alt=""/>
                <div class="item__title">{{ p.name }}</div>
                <div class="item__price">{{ p.price }}</div>
            </a>
        {% endfor %}
    </div>

    {% include 'snippets/pagination.html' %}

{% endblock content %}
