{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block title %}Каталог товаров &#8212;{% endblock %}

{% block content %}
    {% include 'shop/menu/menu_category.html' %}

    {% include 'shop/menu/filter.html' %}

    <h1>Каталог товаров</h1>

        {% for p in product %}
            <ul style="list-style-type: none; padding: 0;">
                <li>
                    <a href="{% url 'shop:detail_product' p.slug %}">
                        <img src="{% thumbnail p.image 50x50 crop %}" alt=""/>
                        <p style="display: inline-block; margin: 0; padding: 0; vertical-align: super;">{{ p.name }}<br>
                        {{ p.price }}</p>
                    </a>
                </li>
            </ul>

        {% endfor %}


    {% include 'snippets/pagination.html' %}



{% endblock content %}
