{% extends 'base.html' %}

{% load staticfiles thumbnail %}

{% block title %}Каталог товаров &#8212;{% endblock %}

{% block content %}

    {% include 'shop/menu/menu_category.html' %}

    {% include 'shop/menu/filter.html' %}

    <h1>Категория: {{ category.name }}</h1>

    <div class="item">
        {% for p in object_list %}
            <a href="{% url 'shop:detail_product' p.slug %}">
                <img src="{% thumbnail p.image 50x50 crop %}" alt=""/>
                <div class="item__title">{{ p.name }}</div>
                <div class="item__price">{{ p.price }}</div>
            </a>
        {% endfor %}
    </div>

    {% include 'snippets/pagination.html' %}

{% endblock content %}
